https://launchpad.net/ubuntu/+archive/primary/+sourcefiles/python-apt/1.9.0/python-apt_1.9.0.tar.xz
https://launchpad.net/python-distutils-extra/trunk/2.39/+download/python-distutils-extra-2.39.tar.gz
